.titleText {
  font-size: 40px;
  color: #FF8A80;
}

.welcomeText {
  font-size: 20px;
  color: #7F7F7F;
}

.welcomeInfo {
  padding: 0px 0px 0px 25px;
}

.content {
  margin-top: 50px;
}

.lead {
  display: inline-block;
  margin-right: 20px;
  font-size: 3vw;
}
