body {
  padding: 10px 15px;
  font-family: 'Metrophobic', Arial, serif;
}

.header {
  padding: 0px 0px 0px 0px;
  margin-top: 0px;
  align-text: right;
  max-width: 50%;
}

.heading {
   font-family: 'Metrophobic', Arial, serif; 
   font-weight: 400;
}

h1 {
  font-family: 'Metrophobic', Arial, serif; 
  font-weight: 400;
  margin: 20px 20px 20px 40px;
  color: #F97F85;
  max-width: 70%
}

.mainNav {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  max-width: 100%;
}

.titleText {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-family: 'Metrophobic', Arial, serif; 
  font-weight: 400;
  font-size: 60px;
  color: #FF8A80;
  letter-spacing: 3px;
  padding-left: 30px;
  text-decoration: none;
}

.homeOptions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 65%;
  font-family: 'Metrophobic', Arial, serif; 
  font-weight: 400;
  padding: 20px 30px 30px 40px;
  margin: 0 auto;
}

.eachOption {
  font-family: 'Metrophobic', Arial, serif; 
  font-weight: 400;
  padding: 0px 15px 5px 5px;
}

.welcomeMsg {
  font-family: 'Metrophobic', Arial, serif; 
  font-weight: 400;
  font-size: 30px;
  color: #7F7F7F;
  padding: 25px 25px 25px 40px
}

.welcomeText {
  font-family: 'Metrophobic', Arial, serif; 
  font-weight: 400;
  font-size: 20px;
  color: #7F7F7F;
  padding: 25px 25px 25px 40px;
}

.searchBox {
  padding-left: 40px
}

.content {
  margin-top: 50px;
  padding: 30px 20px 30px 20px;
}

.lead {
  display: inline-block;
  margin-right: 20px;
  font-size: 3vw;
}

.messageList {
  padding-left: 0px;
  width: 65%;
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

.eachMessage {
  padding-top: 10px;
  padding-bottom: 10px;
}

.nameInfo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-flow: row wrap;
  justify-content: flex-start;
  width: 50%
}

.name {
  font-size: 17px;
  font-weight: bold;
  margin-left: 0px;
  width: 100%;
  padding: 0px 20px 2px 0px;
}

.username {
  font-weight: lighter;
  font-size: 13px;
  font-variant: normal;
  font-style: italic;
}

.text {
  font-family: 'Metrophobic', Arial, serif; 
  font-weight: 400;
  padding: 5px 0px 5px 17px;
  word-wrap: normal;
  letter-spacing: 0.5px;
  font-weight: lighter;
}

.location {
  font-family: "Lucida Console", Monaco, monospace;
  font-weight: lighter;
  font-variant: normal;
  font-style: normal;
  font-size: 11px
}

.createdAt {
  font-family: "Lucida Console", Monaco, monospace;
  font-weight: lighter;
  font-variant: normal;
  font-style: normal;
  font-size: 11px
}

.url {
  font-family: "Lucida Console", Monaco, monospace;
  font-weight: lighter;
  font-variant: normal;
  font-style: normal;
  font-size: 11px;
  color: #555;
  text-decoration: none;
  word-wrap: normal;
  url:hover {
    text-decoration: underline;
  }
}

:global(#container) {
  width: 100%;

  @media (min-width: 960px) {
    width: 960px;
    margin: 0 auto;
  }

  :global(#navigation) {
    padding: 10px 15px;
    background-color: #F9E957;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        display: inline-block;
        font-size: 18px;
        font-weight: bold;
      }
    }
  }
}

@media (max-width: 500px) {
  .titleText {
    font-size: 40px
  }
  .mainNav {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    max-width: 100%;
  }
}

