body {
  margin: 0;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  background-color: #f1f1f1;
}

h1 {
  margin: 0;
  color: #F97F85;
}

.titleText {
  font-size: 40px;
  color: #FF8A80;
}

.welcomeText {
  font-size: 20px;
  color: #7F7F7F;
}

.welcomeInfo {
  padding: 0px 0px 0px 25px;
}

.content {
  margin-top: 50px;
}

.lead {
  display: inline-block;
  margin-right: 20px;
  font-size: 3vw;
}


